@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Minh Quân</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Learning Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script>
        console.log("ABC");
    </script>
}
