<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This is custom page</title>
</head>
<body>
    <div style="background-color: #00003b; padding: 10px; color: #fff;">
        Home - Products - News - About Us
    </div>
    <div>
       @RenderBody()
    </div>
    <div  style="background-color: #00003b; padding: 10px; color: #fff;">
        Copyright by Quan 2021 - 2025
    </div>
</body>
</html>
